*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container{
  position: relative;
  background-color: aqua;
  width: 100%;
  height: 100vh;

}
.auth-form{
  position: absolute;
  top: 15%;
  left: 36%;
  background-color: #fff;
  width: 400px;
  padding: 20px 20px;
  transition: 0.5s;
}
.auth-form:hover{
  box-shadow: 2px 4px 16px 8px rgba(0,0,0,0.71);

}

.text-top{
  margin-bottom: 14px;
}

h2{
  font-weight: 500;
  text-align: center;
}

.switch_button{
  text-align: center;
}

.switch_button .btn_login{
  width: 100%;
  height: 50px;
  background-color: white;
  border-radius: 4px;
  box-shadow: 0px 0px 10px #888;
  background-image: url("https://cdn.iconscout.com/icon/free/png-256/google-2981831-2476479.png");
  background-repeat: no-repeat;
  background-size: 8%;
  background-position: 4%;
  cursor: pointer; 
  transition: 0.5s;
}

.btn_login:hover{
  transform: scale(0.9)
}

.switch_button .btn_login button{
  text-align: center;
  line-height: 50px;
  font-size: 20px;
  font-weight: bold;
  background-color: white;
  color: grey;
  border: none;
}

.switch_button .btn_or{
  color: grey; 
  width: 100%;
  text-align: center;
  border-bottom: 2px solid grey;
  line-height: 0.1em;
  margin: 30px auto;
}

.switch_button .btn_or span{
  font-weight: bold;
  line-height: 1px;
  background: #fff;
  padding: 0 10px; 
}

.auth-form__group input {
  width: 100%;
  height: 50px;
  border-radius: 5px;
  border: 2px solid #9C9C9C;
  margin-bottom: 15px;
  padding: 0 5px;
}


.footer_btn{
  text-align: center;
}
.footer_btn .register{
  width: 100%;
  height: 50px;
  border-radius: 5px;
  background-color: aqua;
  color: #FFF;
  font-weight: 500;
  font-size: 20px;
  cursor: pointer; 
  transition: 0.5s;
}

.footer_btn button:hover{
  transform: scale(0.9);
}

::placeholder{
  font-size: 1rem;
  font-weight: bold;
  padding-left: 0 4px;
  color: #ccc;
}
/* End register form */

/* Login form */
.footer_btn .login{
  width: 100%;
  height: 50px;
  border: none;
  border-radius: 5px;
  background-color: aqua;
  color: #FFF;
  font-weight: 500;
  font-size: 20px;
  cursor: pointer; 
  transition: 0.5s;
}



/* end Login form */
.card {
  width: 25%;
}
.wrap-product-details-app {
  width: 100%;
  display: flex;
}

.wrap-product-details {
  margin: auto;
}
.border-right {
  border-right: 1px solid;
  padding: 0px 4px;
}

.border-top {
  border-top: 1px solid;
  padding-top: 10px;
}
.count-product.d-flex button {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.price.d-flex.justify-content-between {
  height: 250px;
}
