* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  position: relative;
  background-color: aqua;
  width: 100%;
  height: 100vh;
}
.auth-form {
  position: absolute;
  top: 15%;
  left: 36%;
  background-color: #fff;
  width: 400px;
  padding: 20px 20px;
  transition: 0.5s;
}
.auth-form:hover {
  box-shadow: 2px 4px 16px 8px rgba(0, 0, 0, 0.71);
}

.text-top {
  margin-bottom: 14px;
}

h2 {
  font-weight: 500;
  text-align: center;
}

.switch_button {
  text-align: center;
}

.switch_button .btn_login {
  width: 100%;
  height: 50px;
  background-color: white;
  border-radius: 4px;
  box-shadow: 0px 0px 10px #888;
  background-image: url("https://cdn.iconscout.com/icon/free/png-256/google-2981831-2476479.png");
  background-repeat: no-repeat;
  background-size: 8%;
  background-position: 4%;
  cursor: pointer;
  transition: 0.5s;
}

.btn_login:hover {
  transform: scale(0.9);
}

.switch_button .btn_login button {
  text-align: center;
  line-height: 50px;
  font-size: 20px;
  font-weight: bold;
  background-color: white;
  color: grey;
  border: none;
}

.switch_button .btn_or {
  color: grey;
  width: 100%;
  text-align: center;
  border-bottom: 2px solid grey;
  line-height: 0.1em;
  margin: 30px auto;
}

.switch_button .btn_or span {
  font-weight: bold;
  line-height: 1px;
  background: #fff;
  padding: 0 10px;
}

.auth-form__group input {
  width: 100%;
  height: 50px;
  border-radius: 5px;
  border: 2px solid #9c9c9c;
  margin-bottom: 15px;
  padding: 0 5px;
}

.footer_btn {
  text-align: center;
}
.footer_btn .register {
  width: 100%;
  height: 50px;
  border-radius: 5px;
  background-color: aqua;
  color: #fff;
  font-weight: 500;
  font-size: 20px;
  cursor: pointer;
  transition: 0.5s;
}

.footer_btn button:hover {
  transform: scale(0.9);
}

::placeholder {
  font-size: 1rem;
  font-weight: bold;
  padding-left: 0 4px;
  color: #ccc;
}
/* End register form */

/* Login form */
.footer_btn .login {
  width: 100%;
  height: 50px;
  border: none;
  border-radius: 5px;
  background-color: aqua;
  color: #fff;
  font-weight: 500;
  font-size: 20px;
  cursor: pointer;
  transition: 0.5s;
}

.footer_btn:hover {
  transform: scale(0.9);
}

/* end Login form */

/* Product details */
.card {
  width: 24%;
}
.infor_order {
  text-align: center;
  font-size: 1.5rem;
}
.infor_order {
  text-align: center;
  font-size: 1.5rem;
}
.wrap-product-details-app {
  width: 100%;
  height: 100%;
}

.wrap-product-details {
  height: 100%;
}
.main_product {
  position: relative;
  margin: auto;
  width: 50%;
  height: 100%;
}

.img-product {
  display: flex;
  align-items: center;
  justify-content: center;
}
.sell-out {
  display: flex;
  margin-left: 155px;
  color: grey;
}
.line {
  width: 2px;
  height: 20px;
  background-color: grey;
  margin: 2px 5px 2px 5px;
  display: block;
}
.sell-out-left {
  font-weight: 500;
}
.price_quantity {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}
.price_quantity-left {
  display: flex;
  align-items: center;
}
.price_quantity-right {
  display: flex;
  align-items: center;
}
.decrement-count {
  margin-right: 15px;
  width: 30px;
  border-radius: 50% 50% 50% 50%;
  color: grey;
}
.number-count {
  margin-right: 15px;
  padding-top: 4px;
}
.increment-count {
  border-radius: 50% 50% 50% 50%;
  width: 30px;
  background-color: red;
  color: #fff;
}
.text_infor {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  align-items: flex-end;
  margin-right: 30px;
}
.name_number {
  margin-right: 196px;
  text-align: left;
}
.address {
  margin-left: 250px;
  font-size: 25px;
  flex-wrap: wrap;
  margin-right: 100px;
}
.quantity {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}
/* .tong{
  margin-right: 20px;
} */

.fee_ship {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}
.voucher {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}
.total {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}
.payment {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.payment-button {
  width: 60%;
  height: 50px;
  background-color: red;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.5s;
}
.payment button:hover {
  transform: scale(0.9);
}

/* end product detail */
